- content_for( :subtitle ) do
  = "Curvas de Carga de #{@individual.name}"

%h3
  Demanda:
= area_chart @individual.timeline(:demand, @individual.kind_of?('Alimentador') )
%hr/
%h3
  Resposta à Demanda Provável (RDP):
= area_chart @individual.timeline( :rdp, @individual.kind_of?('Alimentador') )