= content_for( :subtitle ) do
  = "Editando #{@individual.name}"

= render 'edit_individual_form',
  route: :update_feeder,
  individual: @individual,
  individuals: @dataset.individuals,
  properties: @dataset.properties