= content_for( :subtitle ) do
  Criando Sistema Predial

= render 'new_individual_form',
  route: :create_building_system,
  id: params[:id],
  ontological_class: @ontological_class.local_name,
  property_list: @property_list,
  individual_list: @individual_list