= content_for( :subtitle ) do
  Criando Recurso

= render 'new_individual_form',
  route: :create_resource,
  id: params[:id],
  ontological_class: @ontological_class,
  property_list: @property_list,
  individual_list: [@parent_individual]