= content_for( :subtitle ) do
  Criando Alimentador

= render 'new_individual_form',
  route: :create_feeder,
  id: params[:id],
  ontological_class: @ontological_class.local_name,
  property_list: @property_list