- content_for( :subtitle ) do
  Estatísticas

%h3
  Resposta à Demanda Provável (RDP):
- data = { 'Demanda Total' => @individual.summation(:positive_demand), 'RDP Total' => @individual.summation(:rdp) }
= pie_chart data
%hr/
%h3
  Recursos Energéticos Distribuídos (DER):
- data = { 'Demanda Total' => @individual.summation(:positive_demand), 'DER Total' => @individual.summation(:der) }
= pie_chart data